$width: 20vw;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: black;
  &__navigation {
    margin-top: 5px;
    display: flex;
    margin-left: 50px;
    &-item:first-child {
      line-height: 31px;
      font-size: 37px;
      margin-right: 20px;
    }
    &-item {
      margin-left: 15px;
      font-size: 20px;
      a {
        color: white;
        font-family: system-ui;
        font-weight: 200;
        font-size: 22px;
      }
    }
  }
  &__user {
    margin-right: 50px;
    button {
      width: $width;
    }
  }
}

#navbar__user__dropdown {
  * {
    width: $width;
  }
}